<%-include("partials/header.ejs") %>
<div class="bg">
    <h1>Write your article your own article</h1>
    <form method="post" action="/submit">
        <label for="heading">heading</label>
        <input type="text" name="heading"><br>
        <label for="article">Article</label>
        <input type="text" name="body" id="" style="height: 100px;"><br>
        <input type="submit">
    </form>
  </div>
  <div class="articles">
    <h3>Article</h3>
    <div class="article-part">
        <div class="card">
            <img src="/a1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                
                <form method="post" action="/article-submit">
                    <label for="article">Choose a article:</label>
                    <select id="cars" name="which">
                        <% if(locals.posts){ %>
                            <% for(var i=0; i<posts.length; i++){ %>
                        <option value="<%=i%>"> <%=posts[i].head%></option>
                            <% } %>
                         <% } %>
                      </select>
                    <input type="submit">
                </form>                                                       
            </div>
          </div>
    </div>
  </div>
<%-include("partials/footer.ejs") %>

    
